
<ion-header [translucent]="true">
  <ion-toolbar color="mycolor">
    <ion-title>Sobre Nosotros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  class="ion-padding">
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus suscipit expedita at, ducimus veritatis enim praesentium asperiores vero quam dolorum autem dolores quod eos. Quisquam nesciunt error fugit consequuntur illo!</p>
  <div id="mapId" style="width:90%; height:50%; margin-left:20px "></div>
</ion-content>


<!-- <ion-button class="llamar" color="medium"  shape="round" (click)="hacerLlamada()">Llamar</ion-button> -->
<ion-toolbar>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
    <!-- Pestaña home -->
  <ion-tab-button tab="home">
    <ion-icon name="triangle" (click)="clicBotonHome()"></ion-icon>
    <ion-label>Inicio</ion-label>
  </ion-tab-button>
  <!-- Pestaña detalle -->
  <ion-tab-button tab="info">
    <ion-icon name="ellipse" ></ion-icon>
    <ion-label>Sobre nosotros</ion-label>
  </ion-tab-button>
  <ion-tab-button tab="info">
    <ion-icon name="call" (click)="hacerLlamada()"></ion-icon>
    <ion-label>Llamar</ion-label>
  </ion-tab-button>
  

</ion-tab-bar>
 </ion-tabs>
</ion-toolbar>
  
