ion-toolbar{
    background-color: var(--ion-color-mycolor);
    align-content: center;
    }
    .amantes{
        background-color: var(--ion-color-mycolor-shade);
        color: white;
    } 

    .llamar{
        width: 30%;
       
    }

    ion-icon{
        color: var(--ion-color-mycolor-shade);
    }