ion-toolbar{
    background-color: var(--ion-color-mycolor);
    align-content: center;
    color:white;
    }
    .titulo{
        background-color: var(--ion-color-mycolor-shade);
        color: white;
    } 

    ion-icon{
        color: var(--ion-color-mycolor-shade);
    }

    .ion-padding{
        margin-top: 30px;
    }

    // .llamar{
    //     margin-top: 10px;
    //     ion-icon .llamar{
    //         color: white;
    //     }
    