
ion-toolbar{
background-color: var(--ion-color-mycolor);
align-content: center;
}
#lista{
    background-color: var(--ion-color-mycolor-shade);
    color: white;
}
.titulo{
    background-color: var(--ion-color-mycolor-tint);
    color: white ;
}
ion-icon{
    color: var(--ion-color-mycolor-shade);
}

ion-fab-button .add {
    color: white !important;
}

