
ion-toolbar{
background-color: var(--ion-color-mycolor);
align-content: center;
color: white;
}
#lista{
    background-color:var(--ion-color-mycolor-shade);;
    color: white;
    
}
.titulo{
    font-style: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--ion-color-mycolor-tint);
}
ion-icon{
    color: var(--ion-color-mycolor-shade);
}

ion-fab-button .add {
    color: white !important;
}

ion-row .tres{
    border-bottom: var( --ion-color-mycolor-tint) solid 2px;
}
